# OS
.DS_Store

# dotenv
.env

# .NET
bin/
obj/
*.user
*.suo

# Node
node_modules/
dist/

# Python
__pycache__/
*.pyc
.venv/

# Docker
*.log

# EF Core scaffold output 
Migrations/

# Docker local volumes
db_data/

# VSCode settings 
.vscode/

# Local SQL sessions
*.session.sql